div{
	width: 100px;
	height: 100px;
	background: gray;
	border: .5px solid black;
	margin: 5px;
}
.dos{
	width: 345px;
	height: 115px;
}
.tres{
	margin: 5px;
	display: inline-block;
}
.cuatro{
	margin: 5px;
	display: inline-block;
}
.cinco{
	margin: 5px;
	display: inline-block;
}
.seis {
	display: inline-block;
}
.siete{
	display: inline-block;
}
